@import "tailwindcss";

:root {
  --background: #fdffff;
  --foreground: #262325;
  --accent: #ec4442;
}

.dark {
  --background: #262325;
  --foreground: #fdffff;
  --accent: #ec4442;
}

body {
  background: var(--background);
  color: var(--foreground);
}